@import "./../../../../assets/style/main.scss";

.debet_card_item {
  display: flex;
  width: 1140px;
  margin-bottom: 70px;
  background-color: $footer-color-grey;
  box-shadow: 0px 12px 20px -10px #dedede;
  border-radius: 10px;

  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 43px;
  }

  p {
    width: 290px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 42px;
  }
}

.debet_card_item_btn {
  display: flex;
  margin-bottom: 50px;

  a:not(:last-child) {
    button {
      margin-right: 37px;
      background-color: $main-color;
      color: white;
    }
  }
}
